<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="bg">
        <section class="first">
            <header>
                <h1>About</h1>
                <p style = "text-align:center;"><img src = "..\..\static\calculator\images\logo.png" alt = "e(co)mission logo" class = "logoimage"></p>                
            </header>
        </section>          
    </div>
</body>
</html>

<style>
    body{
        background: #96CF63;
    }
    

    h1{
        color: white;
        text-align: center;
        font-size: 350%;
    }

    p{
        color: white;
        text-align: center;
        font-size: 250%;
    }
</style>