<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="bg">
        <section class="secondcar">
            <img src = "..\..\static\calculator\images\logo.png" alt = "e(co)mission logo">
            <div class="form-container">
                <form action="">
                    <div class="form-left">
                        <label for="from">From:</label>
                        <input type="text" name="from" >
                        <label for="to">To:</label>
                        <input type="text" name="to" >
                        <input type="button" value="Next" class="btn btn-info">
                    </div>
                </form>
            </div>
            <div>
                <h2>ENTER YOUR POSTAL CODE</h2>
            </div>
        </section>          
    </div>
</body>
</html>


<style>
    body{
        background: #96CF63
    }

    label {
        color: white
    }

    h2{
        color: white
    }

</style>