<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <section class="first">
            <header>
                <h1>WELCOME TO</h1>
                <img src = "..\..\static\calculator\images\logo.png" alt = "e(co)mission logo">
            </header>
            <p>HOW DO YOU PLAN ON TRAVELLING TODAY?</p>
            <div class="btns">
                <button class="btn btn-car">
                    <img src="..\..\static\calculator\images\car.png"/> 
                    <img src="..\..\static\calculator\images\plane.png"/> 
                </button>

            </div>

        </section>          
    </div>
</body>
</html>

<style>
    body{
        background: #96CF63;  
    }

    .bg {
        background-image: url("..\..\static\calculator\images\1.png");
    }

    h1{
        color: white;
    }

    p{
        color: white;
    }
</style>